.card-title{
  background-color:rgba(0,0,0,0.8);
  border-radius:20px;
  margin-left:5%;
}
.preloader-wrapper{
  margin-top:30%;
}
@media screen and (max-width: 500px) { 
  .brand-logo{
    font-size:250% !important;
  }
}